# 3rdparty
third_party

# build
build/

# .vscode
.vscode/

# data
data/

# dynamic library/static library
*.lib
*.a
*.dll
*.so
*.exp
*.pdb

# model
*.pth
*.onnx


/run_test
/run_depends.bat
/depends.exe
/src/src.rar
/src/src
